@import "./font";

.modal {

  &-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background: rgba(141, 141, 141, 0.7);

    &_active {
      display: block;
    }
  }

  &-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 370px;
    padding: 45px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;

    &__title {
      display: inline-block;
      margin-bottom: 20px;
      @include primary;
      font-size: 20px;
      color: $black;
      text-transform: uppercase;
    }

    &__button{
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 1000px){
.modal{

  &-form{
    padding: 20px;
  }
}
}

@media screen and (max-width: 650px) {
  .modal {

    &-form {
      max-width: 90%;
      width: 90%;

      &__button{
        width: 100%;
      }
    }
  }
}