.start-form {
  width: 415px;

  &__tabs {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 215px;
      height: 1px;
      background-color: $black;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 215px;
      height: 1px;
      background-color: $black;
    }

    &_auth {

      &::before {
        display: none;
      }
    }

    &_registration {

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .start-form {
    width: auto;

    &__tabs{

      &::before, &::after{
        display: none;
      }
    }
  }

}