.user-content{
  width: 75%;
  border: 1px solid $dark_grey;

  &__item{
    display: none;

    &_active{
      display: block;
    }
  }
}

@media screen and (max-width: 1290px) {
  .user-content {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .user-content {
    width: 100%;
  }
}